@use "Responsive.module.scss";

.header {
  background-color: var(--bg-header-color);
  .wrapper {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 135px;
      height: 52px;
      background-color: var(--bg-temporary);
      .p {
        padding: 17px 22px;
        font-weight: bold;
        font-size: 15px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    .connect {
      display: flex;
      align-items: center;
      .whatsapp,
      .liveChat {
        display: flex;
        align-items: center;
        p {
          font-size: 1.7rem;
          font-weight: 400;
          margin-left: 1rem;
        }
      }
      .whatsapp {
        margin-left: 1.8rem;
      }

      .language {
        margin-left: 4rem;
        .english {
          margin-left: 13px;
        }
      }
    }

    .form {
      display: flex;
      align-items: center;

      form {
        input[type="text"],
        input[type="password"] {
          border-radius: 10px;
          background-color: #c6542f;
          border: none;
          width: 126px;
          height: 31px;
          padding: 7px 14px 8px 8px;
          outline: none;
          margin-left: 0.9rem;
        }
        ::placeholder {
          color: white;
          font-style: italic;
        }
      }
      .button {
        font-weight: 700;
        color: white;
        font-size: 14px;
        margin-left: 1.4rem;
      }
    }

    // Responsiveness

    //   ----------------- Phone version
    @media (min-width: 325px) {
      padding: 10px 20px;

      .connect {
        .liveChat,
        .whatsapp {
          p {
            display: none;
          }
        }
        .whatsapp {
          margin-left: 2.3rem;
        }
        .language.hidden {
          display: none;
        }
      }
    }

    // ------------- Tablet Version
    @media (min-width: 600px) {
      padding: 12px 37px;
      .logo {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        .p {
          padding: 1rem 1rem;
          font-size: 14px;
        }
      }
      .connect {
        .liveChat,
        .whatsapp {
          margin-left: 2rem;
          p {
            display: none;
          }
        }

        .language {
          margin-left: 2rem;
          display: flex;
        }
      }

      .form {
        margin-left: 2rem;
        form {
          display: flex;
        }
      }
    }

    @media (min-width: 1200px) {
      padding: 12px 187px;
      .connect {
        .liveChat,
        .whatsapp {
          p {
            display: block;
          }
        }
      }
    }
  }

  @media (min-width: 1440px) {
    .wrapper {
      max-width: 1440px;
      margin: 0 auto;
    }
  }
}
