.nav {
  position: fixed;
  left: 20%;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #222222;
  z-index: 5;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.1rem 1.5rem;
    .button {
      width: 99px;
      background-color: #666666;
      font-weight: 700;
      color: white;
      border-radius: 5px;
      padding: 1.5rem 2.4rem;
      font-size: 13px;
      margin-left: 1.1rem;
      transition: all 0.2s ease;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }
    .button.daftar {
      background-color: var(--bg-header-color);
      margin-left: 1.6rem;
    }
    .button:hover {
      opacity: 1;
    }
    .imgWrap {
      margin-left: 2rem;
      display: flex;
      align-items: center;
      margin-right: 2rem;
    }
  }

  .menuScroll {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2.9rem auto 2.3rem;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: none;
    background-color: #333333;
    padding: 1.5rem 0.5rem;
    a {
      margin: 0 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 13px;
        text-transform: uppercase;
        width: 72px;
        text-align: center;
      }
    }
  }
  .menuScroll::-webkit-scrollbar {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input[type="text"],
    input[type="password"] {
      border-radius: 10px;
      background-color: #c6542f;
      border: none;
      width: 70% !important;
      height: 31px;
      padding: 7px 14px 8px 8px;
      outline: none;
      margin-left: 0.9rem;
      margin-top: 2rem;
    }
    ::placeholder {
      color: white;
      font-style: italic;
    }
  }

  .language {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
    div {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-left: 3rem;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      padding: 1rem 3.7rem;
      border-bottom: 1px solid #595959;
    }
  }
}

.overlay {
  position: fixed;
  background-color: #000000;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
